:root {
    --primary-color: #4fe028;
    --secondary-color: #073e76;
    --background-color: #333;
}

* {
    font-family: Arial;
}

/*
The Evil Code
*:not(:has(*)):hover {
    display: none;
}
*/

body {
    background-image: url("wald.jpg");
}

header {
    background-image: linear-gradient(to bottom right, var(--background-color), var(--secondary-color));
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 3%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
}

.projects-container {
    display: flex;
    gap: 20px;
}

#projects li:hover{
    background-color: var(--primary-color);
    border-radius: 5%;
    transition: ease-in .3s;
}

#projects li {
    width: fit-content;
    transition: ease-out .3s;
}

.projects-list {
    flex: 1;
    border-right: 1px solid gray;
    padding-right: 10px;
}

.projects-view {
    flex: 2;
    padding-left: 10px;
}

#contact {
    position: fixed;
    display: flex;
    bottom: 0;
    justify-content: center;
    width: 100%;
    color: var(--primary-color);
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

form label {
    align-self: center;
}
